.newsbox.panel.panel-default
	.panel-heading
		span.glyphicon.glyphicon-list-alt
		b 企业文化
		div.news-more
			a(href='/culture') 查看更多
	.panel-body
		.row
			.col-xs-12
				ul.news-box
					if news
						each item in overview
							#{item.content}
	.panel-footer  

