include ../mixins/flash-messages
doctype html
html
	//- HTML HEADER
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title= '百艺壁纸'
		link(rel="shortcut icon", href="/baiyi_icon.ico", type="image/x-icon")
		//- Customise the stylesheet for your site by editing /public/styles/site.less
		//- All .less files will be automatically compiled and minified in production.
		link(href="/styles/site.min.css", rel="stylesheet")
		//- This file provides the default styling for the KeystoneJS Content Editor
		if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")
		//- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8
		//-[if lt IE 9]
			script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
			script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
		//-[endif]
		//- Include template-specific stylesheets by extending the css block
		block css
		//- Add any other template-specific HEAD tags by extending the head block
		block head
	//- HTML BODY
	body
		//- BODY
		#enter
			div.row 
				div.logo
					img(src='images/upload/logo/#{logo.url.filename}', alt='#{logo.name}')
			div.row.motto 服务源于专业 · 专业成就品质
			div.row.version 
				div.chinese 
					a(href='/index') 中文版 
				div.english 
					a(href='/index') English
			div.row.phone
				div.phone-icon
				div.phone-content 13309616161	李总监
			div.row.welcome 欢迎访问百艺壁纸官方网站
			
			
		//- JAVASCRIPT
		//- jQuery 1.11.1 is included by default, and required by both Bootstrap
		//- and the KeystoneJS Content Editor. If you are not targeting IE8,
		//- you can upgrade to 2.1.3 (also bundled) for better performance.
		script(src='/js/jquery/jquery-1.11.2.min.js')
		//- Customise which Bootstrap javascript files are served by including
		//- them specifically here, instead of bootstrap-3.3.4.min.js
		script(src='/js/bootstrap/bootstrap-3.3.4.min.js')
		//- The KeystoneJS Content Editor provides support for ks-editable data attributes,
		//- which generate links to edit content for users who can access Keystone
		if user && user.canAccessKeystone
			script(src='/keystone/js/content/editor.js')
		//- Add scripts that are globally required by your site here.
		script(src='/js/enter.js')
		//- Include template-specific javascript files by extending the js block
		block js
