extends ../layouts/default

block content
	.container
		div.row
			dov.col-md-6
				include news-thumb.jade
			dov.col-md-6
				include presentation-thumb.jade
		div.row
			dov.col-md-6
				include overview-thumb.jade
			dov.col-md-6
				include culture-thumb.jade
