extends ../layouts/default

block content
	.x-index-content-item: .container
		img(src='/images/logo.svg', width='160')
		p Welcome
	.x-index-content-item: .container
		img(src='/images/logo.svg', width='160')
		p Welcome
	.x-index-content-item: .container
		img(src='/images/logo.svg', width='160')
		p Welcome
	.x-index-content-item: .container
		img(src='/images/logo.svg', width='160')
		p Welcome
