extends ../layouts/default

block content
	.container
		div.row
			div.col-md-6
				div.row.sub
					include news-thumb.jade
				div.row.sub
					include  contactme-thumb.jade
			div.col-md-6
				div.row.sub
					include presentation-thumb.jade
				div.row.sub
					include culture-thumb.jade
				div.row.sub
					include  overview-thumb.jade
block slide
	include ./slide.jade

block foot 
	include foot.jade
