extends ../layouts/default

block content
	.container
		div.row
			dov.col-md-6
				include newsbox.jade
			dov.col-md-6
				include newsbox.jade
		div.row
			dov.col-md-6
				include newsbox.jade
			dov.col-md-6
				include newsbox.jade
