extends ../layouts/default

block content
	.container
		if news
			each newsI in news
				div.article-details
					div.article-head
						span.article-title #{newsI.name}
					pre #{newsI.content}
					div.article-img
						img(src='images/upload/news/#{newsI.thumbimage.filename}')

block slide
	include slide.jade
block foot
	include foot.jade
