extends ../layouts/default

block content
	.container
		include list.jade
		
block foot
	include foot.jade

block js 
	script(src='/js/jquery.dataTables.min.js')
	script(src='/js/table-list.js')
		
block js 
	script(src='/js/jquery.dataTables.min.js')
	script(src='/js/table-list.js')
