extends ../layouts/default

block content
	.container
		#overview-details
			pre #{overview.content}

block foot
	include foot.jade
block js 
	script(src='/js/jquery.dataTables.min.js')
	script(src='/js/table-list.js')
