.newsbox.panel.panel-default
	.panel-heading
		span.glyphicon.glyphicon-list-alt
		b 企业概况
		div.news-more 
			a(href='/overview') 查看更多
	.panel-body
		.row
			.col-xs-12
				ul.news-box
					if overview
						each item in overview
							li.news-item
								table(cellpadding='4')
									tbody
										tr
											td
												| #{item.content}
	.panel-footer  

