.newsbox.panel.panel-default
	.panel-heading
		span.glyphicon.glyphicon-list-alt
		b 企业概况
		div.news-more 查看更多
	.panel-body
		.row
			.col-xs-12
				ul.news-box
					if news
						each item in overview
							li.news-item
								table(cellpadding='4')
									tbody
										tr
											td
												img.img-circle(src='images/upload/overview/#{item.thumbimage.filename}', width='60')
											td
												| &nbsp;&nbsp;&nbsp;#{item.name} &nbsp;&nbsp;&nbsp;
												a(href='#') 点击阅读更多...
	.panel-footer  

