extends ../layouts/default
	
block content
	.container
		include presentation-gallery.jade
		
block foot
	include foot.jade
		
block js
	script(src='/js/jquery.quicksand.js')
	script(src='/js/presentation.js')
		
block css
	link(href="/styles/presentation.css", rel="stylesheet")
