.newsbox.panel.panel-default
	.panel-heading
		span.glyphicon.glyphicon-list-alt
		b 产品展示
		div.news-more 
			a(href='/presentation') 查看更多
	.panel-body
		.row
			.col-xs-12
				div#owl-presentation
					if presentation
						each item in presentation
							.item
								img.lazyOwl(data-src='images/upload/presentation/#{item.filename}')
	.panel-footer  
