#header {
	margin-top: 30px;
  	.x-index-header {  
	  background-color: transparent;
	  border-color: transparent;
	}
}

#slide {
}

#owl-carousel {
  img {
	width: 100%;
	height: 100%;
  }
}

#body {
  margin-top: 5%;
}

.newsbox{
  .news-more {
	float: right;
  }
}

#footer {
	color: @gray-light;
  
  .container {
	width: 100%;
	text-align: center;
	border-top: 1px solid @gray-lighter;
  }
}

.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}
